#task {
	margin: 10px;
}
.taskInstructions {
	text-align: justify;
}
.taskContent {
}
.taskContent img,
.taskContent .noImage {
	border: 1px solid #ccc;
	box-sizing: content-box;
	display: block;
}
.thumbnails-container-wrapper,
.imageAndActionPanel {
	float: left;
	vertical-align: top;
}
.thumbnails-container-wrapper {
	text-align: center;
	padding-right: 10px;
	overflow-y: scroll;
	max-height: 780px;
}
.imageAndActionPanel {
	padding-left: 10px;
	width: 550px;
}

.thumbnail {
	margin-bottom: 5px;
}
.thumbnail.selected {
	background-color: #ccc;
}

.bigImageContainer .image-name {
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.5em;
}
.bigImageContainer img {
	margin: 0 auto;
	box-shadow: 1px 1px 6px #ccc;
}

.actionPanelContainer {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}
.actionLabel {
	font-weight: normal;
	margin-bottom: 10px;
}
.actionDescription {
	margin-bottom: 10px;
}
.operationParams {
	margin: 10px 0;
}
.actionImagesContainer {
	position: relative;
	height: 193px;
}
.stageImagesContainer {
    position: absolute;
    top: 0;
	left: 30px;
	text-align: left;
	min-width: 160px;
}
.previewImageContainer,
.stageImageContainer {
    display: inline-block;
    text-align: center;
}
.previewImageContainer {
	position: absolute;
	top: 0;
	right: 30px;
}
.stageImagesContainer::after {
	content: "\f178";
	font-family: FontAwesome;
	position: absolute;
	right: -60px;
	top: 55px;
	font-size: 32px;
}
.stageImageContainer + .stageImageContainer {
	margin-left: 20px;
}
.stageImageContainer .image-name {
	height: 24px;
	line-height: 24px;
}
.stageImagesContainer img,
.stageImagesContainer .noImage {
	margin: 3px 0 10px;
	display: block;
}
.actionPanelContainer .inputGroup {
	position: relative;
}
.actionPanelContainer .form-control {
	line-height: 1;
	height: auto;
	padding: 3px 22px 3px 3px;
}
.actionPanelContainer .inputGroup i {
	position: absolute;
	top: 5px;
	right: 5px;
}
.previewImageContainer .input-group {
	width: 180px;
}
.previewImageContainer img,
.previewImageContainer .noImage {
	margin: 3px auto 10px;
	display: block;
}

/* answer submission, score, feedback */
.submitBlock, .scoreBlock, .feedbackBlock, .saveBlock {
    display: inline-block;
    line-height: 34px;
    margin: 0 10px 0 0;
}
.taskHeader > *:last-child {
    margin: 0;
}
.scoreBlock, .feedbackBlock {
    background: #f8f8f8;
    padding: 0 8px;
}
.feedbackBlock {
    cursor: pointer;
}
